<div class="container">
  <h1>FASHION SHOP</h1>
  <div class="introduction">
    <img [src]="'assets/images/header/gioithieu.jpg'" alt="Fashion Shop Image">
    <p>Fashion Shop là địa chỉ mua sắm thời trang hàng đầu dành cho những ai yêu thích phong cách và xu hướng mới nhất. Với sự đa dạng về sản phẩm từ quần áo, phụ kiện đến túi xách, Fashion Shop cam kết mang đến cho khách hàng những sản phẩm chất lượng với giá cả hợp lý.</p>
    <p>Chúng tôi luôn cập nhật và mang đến những xu hướng thời trang mới nhất từ các thương hiệu nổi tiếng trong và ngoài nước. Bất kể bạn đang tìm kiếm một bộ đồ thời trang thanh lịch cho công việc hay những trang phục năng động cho các hoạt động ngoài trời, Fashion Shop luôn có đủ lựa chọn phong phú để bạn lựa chọn.</p>
    <p>Hãy đến và trải nghiệm dịch vụ tuyệt vời của chúng tôi tại Fashion Shop ngay hôm nay!</p>
  </div>
  <div class="address">
    <p>Địa chỉ: Đường xx, Phường xx, Thành phố Quy Nhơn, Tỉnh Bình Định</p>
  </div>
  <p>Cảm ơn bạn đã quan tâm và ủng hộ Fashion Shop!</p>
</div>
