<br>
<div class="container links">
  <span>
    <a routerLink="/admin/ql-san-pham" routerLinkActive="active">Sản Phẩm</a>
  </span>
  <span>
    <a routerLink="/admin/ql-danh-muc" routerLinkActive="active">Danh Mục</a>
  </span>
  <span>
    <a routerLink="/admin/ql-thuong-hieu" routerLinkActive="active">Thương Hiệu</a>
  </span>
  <span>
    <a routerLink="/admin/ql-hoa-don" routerLinkActive="active">Hóa đơn</a>
  </span>
  <span>
    <a routerLink="/admin/ql-user" routerLinkActive="active">User</a>
  </span>
</div>
