<div class="container">
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <button type="button" class="btn btn-outline-primary" routerLink="/user" >Sản phẩm nổi bật</button>
        <button type="button" class="btn btn-outline-secondary"  routerLink="/user/gio-hang">Giỏ hàng</button>
        <button type="button" class="btn btn-outline-success" routerLink="/user/hoa-don" >Lịch sử mua hàng</button>
       <button type="button" class="btn btn-outline-danger" >Liên hệ</button>

        <!-- <form class="d-flex" (submit)="searchProduct(searchQuery.value)">
            <input #searchQuery class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
    </div>
</nav>
</div>
